/*.disabled
*~
/.org-id-locations
/auto-save-list/
/org-persist/
/bookmarks
/eln-cache/
/history
/elpa/
/eshell/
/ido.last
/init.elc
/org-roam.db
/projects
/recentf
/tramp
/transient/
/tree-sitter/
/tutorial/
server
