action-history
colorrc
contextrc
controllerrc
devicerc
dockrc
extensionrc
gimprc
internal-data/
modifiersrc
parasiterc
pluginrc
profilerc
sessionrc
shortcutsrc
tags.xml
templaterc
theme.css
tool-options/
toolrc
unitrc
